@import "tailwindcss";
@import "./theme.css";

:root {
  background: var(--background);
  color: var(--text-primary);
}

body {
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
